.cardMenu {
    display: flex;
    gap: 20px;
    align-items: center;
    width: fit-content;
    max-width: 1230px;
    min-height: 290px;
    padding: 20px;
    border: 1px solid #f8ddd2;
    border-radius: 15px;
}
